.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "inter", "Times New Roman", serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  position: relative;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  padding: 0;
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  width: 105px;
  height: 39px;
  margin-left: 30px;
  margin-top: 30px;
}
.nav__links {
  display: flex;
  list-style: none;
  margin-right: 80px;
  margin-top: 30px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.nav__link {
  margin-right: 20px;
  color: black;
  text-decoration: none;
}

.div {
  display: flex;
}

.header__title {
  max-width: 709px;
  position: static;
  margin-top: 183px;
  margin-left: 80px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: 1px;
}

.header__span-accent {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  max-width: 683px;
  position: static;
  margin-top: 28px;
  margin-left: 80px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__schedule {
  position: absolute;
  left: 80px;
  bottom: 40px;
  list-style: none;
}

.header__paragraph {
  position: absolute;
  bottom: 40px;
  right: 80px;
}

.recipes {
  position: relative;
  padding-bottom: 100px;
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
}

.recipes__content {
  display: flex;
  flex-direction: column;
}

.recipes__title {
  max-width: 580px;
  margin-top: 100px;
  margin-left: 80px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  max-width: 438px;
  margin-left: 80px;
  margin-top: 24px;
  margin-bottom: 80px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 215px;
}

.recipes__video-item {
  margin-right: 40px;
}

.recipes__video-caption {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
}

.reservation__title {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 80px;
  margin: 0 auto 80px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
}

.form__fieldset {
  max-width: 385px;
  display: flex;
  flex-direction: column;
}

.form__lebel {
  margin-bottom: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  border-radius: 4px;
  margin-bottom: 32px;
  height: 60px;
  padding-left: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.form__button:enabled {
  border-radius: 4px;
  opacity: 1;
  background-color: #2f80ed;
  color: #ffffff;
  height: 60px;
  max-width: 385px;
  margin-bottom: 32px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__button:hover:enabled {
  border-radius: 4px;
  opacity: 0.7;
  background-color: #0a2750;
}

.form__checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
  margin-right: 12px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
